<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'defaite'; else fimDeJogoVitoria" class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: red"> Malheureusement, le jeu est terminé.</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jouer encore</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: green"> Fin du jeu, vous avez gagné!</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jouer encore</button>
            </div>
        </div>
    </div>
</ng-template>